# Root docker-compose environment (copy to .env)

POSTGRES_USER=odocheck
POSTGRES_PASSWORD=odocheck
POSTGRES_DB=odocheck
POSTGRES_PORT=5432

MONGO_USER=odocheck
MONGO_PASSWORD=odocheck
MONGO_PORT=27017
